<a class="get-home" href="/admin">back</a>

<div>
    <h1>{{movie.moviename}}</h1>
    <img alt="{{movie.name}}" src="{{movie.image}}">
    <dl>
        <dt>plot</dt>
        <dd>{{movie.plot}}</dd>
        <dt>genre</dt>
        <dd>{{movie.genre}}</dd>
        <dt>rating</dt>
        <dd>{{movie.rating}}</dd>
        <dt>runtime</dt>
        <dd>{{movie.runtime}}</dd>
        <dt>cast</dt>
        <dd>{{movie.cast}}</dd>

    </dl>
</div>