<label>
		username:
		<p>{{user.userName}}</p>
	</label>
   <label>
   		FirstName:<p>{{user.firstName}}</p>
   </label>
   <label>
   		LastName:<p>{{user.lastName}}</p>
   </label>
   <label>
   		Email:<p>{{user.Email}}</p>
   </label>
   <label>
   		DateOfBirthDay:
   		<p>{{user.DateOfBirthDay}}</p>
   </label>
   <label>
   		DateOfBirthYear:
   		<p>{{user.DateOfBirthYear}}</p>
   </label>
   <label>
   		DateOfBirthMonth:
   		<p>{{user.DateOfBirthMonth}}</p>
   </label>
   <label>
   		Gender:
   		<p>{{user.Gender}}</p>
   </label>
   <label>
   		historyPlay:
   		<p>{{user.historyPlay}}</p>
   </label>
   <a href="/">
         <button>Back To Homepage</button>
   </a>
   <a href="/changeUserInfo">
         <button>Change my profile</button>
   </a>
   <a href="/logout">
   		<button>Logout</button>
   </a>