<div>
   <label>
		username:
		<p>{{user.userName}}</p>
	</label>
   <label>
   		FirstName:<p>{{user.firstName}}</p>
   </label>
   <label>
   		LastName:<p>{{user.lastName}}</p>
   </label>
   <label>
   		Email:<p>{{user.Email}}</p>
   </label>
   <label>
   		DateOfBirthDay:
   		<p>{{user.DateOfBirthDay}}</p>
   </label>
   <label>
   		DateOfBirthYear:
   		<p>{{user.DateOfBirthYear}}</p>
   </label>
   <label>
   		DateOfBirthMonth:
   		<p>{{user.DateOfBirthMonth}}</p>
   </label>
   <label>
   		Gender:
   		<p>{{user.Gender}}</p>
   </label>
</div>
<label>
   	historyPlay:
      {{#each user.historyPlay}}
         <div>
            <form id="{{this}}" method="POST" action="/comments">
               <p>{{this}}</p>
               <input type="text"  name="comment">
               <input type="text"  name="moviename" value="{{this}}" hidden>
               <input type="text"  name="username" value="{{user.userName}}" hidden>
               <button type="submit">Add a comment</button>
            </form>
         </div>
      {{/each}}
</label>
<div>
   <a href="/">
         <button>Back To Homepage</button>
   </a>
   <a href="/changeUserInfo">
         <button>Change my profile</button>
   </a>
   <a href="/logout">
   		<button>Logout</button>
   </a>
</div>