<div>
   <label>
		username:
		<p>{{user.userName}}</p>
	</label>
   <label>
   		FirstName:<p>{{user.firstName}}</p>
   </label>
   <label>
   		LastName:<p>{{user.lastName}}</p>
   </label>
   <label>
   		Email:<p>{{user.Email}}</p>
   </label>
   <label>
   		DateOfBirthDay:
   		<p>{{user.DateOfBirthDay}}</p>
   </label>
   <label>
   		DateOfBirthYear:
   		<p>{{user.DateOfBirthYear}}</p>
   </label>
   <label>
   		DateOfBirthMonth:
   		<p>{{user.DateOfBirthMonth}}</p>
   </label>
   <label>
   		Gender:
   		<p>{{user.Gender}}</p>
   </label>
</div>
<label>
   	historyPlay:
      {{#each user.historyPlay}}
         <div>
            <form class = "commentForm" id="{{this}}" method="POST" action="/comments">
               <p>{{this}}</p>
               <label>Comment:</label>
               <input type="text" class="comment" name="comment" style = "width: 200px; height:100px">
               <lable>Rating:</lable>
               <select class="rating" name = "rating">
                 <option value ="1">1</option>
                 <option value ="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
                 <option value="5">5</option>
               </select>
               <input type="text"  class="moviename" name="moviename" value="{{this}}" hidden>
               <input type="text"  class="username" name="username" value="{{user.userName}}" hidden>
               <button type="submit">Add a comment</button>
            </form>
         </div>
      {{/each}}
</label>
<label>
   Your Comments:
   {{#each commentsList}}
      <div style="border: 1px solid black">
         <label>Movie:</label>
         <p>{{this.movieName}}</p>
         <label>Content:</label>
         <p>{{this.content}}</p>
         <label>Rating:</label>
         <p>{{this.rating}}</p>
      </div>
   {{/each}}
</label>
<div>
   <a href="/">
         <button>Back To Homepage</button>
   </a>
   <a href="/changeUserInfo">
         <button>Change my profile</button>
   </a>
   <a href="/logout">
   		<button>Logout</button>
   </a>
</div>