  

    <h1>{{moviename}}</h1>
    <div class="session-container">
      <label for="session">Pick a seesion:</label>
      <form method="post" id="session" action="/movie/{{id}}">
        <select form="session" required name="showDate">
          <option value="">---Pick the date---</option>
          {{#each showDate}}
          <option value= {{this}}>{{this}}</option>
          {{/each}}
        </select>
        <select form="session" required name="showTimes">
          <option value="">---Pick the time---</option>
          {{#each showTimes}}
          <option value={{this}}>{{this}}</option>
          {{/each}}
        </select>
        <button type="submit">submit</button>
      </form>
    </div>
    <link rel="stylesheet" href="/public/css/book.css">